body {
    font: 0.8em Verdana,sans-serif;
    background-image: url('../images/Quake3LogoBG.png');
    background-position: center top;
    background-repeat: no-repeat;
    background-color: black;
    color: white;
}

a {
    color: #DDEEFF;
    text-decoration: none;
}

a:hover {
    color: #FFFFFF;
    text-decoration: underline;
}

h2 {
    font-size: 1.1em;
    text-align: center;
}

#viewport-frame, #webgl-error {
    position: relative;
    margin: auto;
    width: 854px;
    height: 480px;
}

canvas {
    cursor: move;
    text-align: center;
    background-color: black;
}

#fullscreenBtn {
    cursor: pointer;
}

#viewport-frame:-moz-full-screen, canvas:-moz-full-screen {
    width: 100%;
    height: 100%;
    position: absolute;
    left: 0;
    top: 0;
    margin: 0;
}

#viewport-frame:-webkit-full-screen, canvas:-webkit-full-screen {
    width: 100%;
    height: 100%;
    position: absolute;
    left: 0;
    top: 0;
    margin: 0;
}