[submodule "assets/demoq3"]
	path = assets/demoq3
	url = https://github.com/inolen/quakejs-demoq3.git
[submodule "assets/basejs"]
	path = assets/basejs
	url = https://github.com/inolen/quakejs-basejs.git
