#hud {
	font-family: 'SourceCodeProSemibold', sans-serif;
}

#hud .fps {
	position: absolute;
	top: 2%;
	right: 2%;
}

#scoreboard {
	position: absolute;
	top: 25%;
	left: 25%;
	width: 50%;
	height: 50%;
	font-family: 'SourceCodeProSemibold', sans-serif;
}