<!DOCTYPE html>
<html>
	<head>
		<title>quakejs</title>
		<meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no" />
		<style>
			html, body {
				height: 100%;
				padding: 0;
				margin: 0;
				background: #000;
			}
		</style>
		<script type="text/javascript" src="./require.min.js"></script>
		<script>
			var cdnroot = 'http://<%- content.host %>:<%- content.port %>';

			require.config({
				baseUrl: cdnroot + '/lib',
				shim: {
					'vendor/game-shim': {
						exports: 'GameShim'
					}
				},
				config: {
					text: {
						useXhr: function (url, protocol, hostname, port) {
							// Allow cross-domain requests.
							return true;
						}
					}
				}
			});

			require(['system/browser/sys'], function (sys) {
				var root = document.getElementsByTagName('body')[0];
				sys.Init(root, cdnroot);
			});
		</script>
		<link href="css/main.css" rel="stylesheet" type="text/css" />
	</head>
	<body></body>
</html>
